.nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav2 a:link, .nav2 a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border:2px solid lightblue;
}

.nav2 a:hover, .nav2 a:active {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.nav2{
    margin: auto;
	width:150px;
}

.nav2 li a.active{
    background-color: red;
}
